body {      
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header-content {
    z-index: 999;
    background-color: #fff;
    padding: 10px 20px
}

h4:before {
    display:block;
    position: absolute;
    background-color: #f5f5f5
}
h4::after {
    background-color: #54ca95
}

/*.text-logo {
    float: left;
}

.logo-text {
    float: left;
    line-height: 50px;
    font-size: 20px;
    color: #222;
    font-weight: 600;*/
    
    /*display: inline-block;
    line-height: 32px;
    font-size: 18px*/
/*}


.logo-symbol {
    border-color: #1d1d1d;
    background-color: #1d6074;
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight:800;
    margin-right:8px;
    margin-top:4px;
}

.logo-text, .logo-symbol {
    font-family: "Poppins",Helvetica,sans-serif
}

@media only screen and (max-width:991px) {
    .logo-text {
        display: inline-block;
        line-height: 32px;
        font-size: 18px
    }
}*/